/* General rules */
:root {
	--bg: #519fd7;
	--border-color: #1e6292;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
}

/* Navbar start*/
.navbar {
	background-color: var(--bg);
}

/* Toggler Button */
.navbar button.navbar-toggler {
	height: 30px;
}
.navbar .navbar-toggler > .navbar-toggler-icon {
	width: 25px;
}

/* Expand-Collapse Section */
.navbar-nav > li.nav-item {
	padding-left: 10px;
	border-radius: 10px;
}
.navbar-nav > li.nav-item:hover {
	background-color: white;
	color: inherit;
	font-weight: bold;
}
.navbar-nav > li.nav-item:hover > a {
	color: var(--bg);
}

/* Dropdpwn Menu */
.dropdown-menu li a {
	color: var(--bg);
}

.dropdown-menu li a.dropdown-item:hover {
	background-color: #2b90d9;
	color: white;
}

hr {
	color: white;
}

form input[type="search"],
form button {
	height: 30px;
	font-size: 12px;
	color: var(--bg);
}

form input[type="search"] {
	width: 80%;
	border-radius: 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}
form button.btn {
	position: relative;
	width: 10%;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

form input[type="search"]:focus {
	color: var(--bg);
}
form input[type="search"]:focus + .btn {
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control::placeholder {
	color: var(--bg);
}

form button i {
	color: var(--bg);
}

form button.btn:hover {
	background-color: var(--bg) !important;
	border: 1px solid var(--border-color);
}
form button.btn:hover i {
	color: white;
}

.btn-close {
	width: 15px;
	display: block;
}

p {
	font-size: 13px;
}

.uniba {
	color: #eb8034;
	text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
		1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
		4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
		4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
		7px 6px 1px #cccccc;
}

.de-fermat {
	color: #bbfc9a;

	background-image: -webkit-linear-gradient(0deg, #bbfc9a 41%, #55e3d5 63%);

	background-clip: text;

	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}
