:root {
	--bg: #519fd7;
	--border-color: #1e6292;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
}

.navbar {
	background-color: var(--bg);
}

.navbar button {
	width: 55px;
	background-color: var(--bg);
	padding: 10px;
}
.navbar-toggler-icon {
	width: 20px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.168);
	border-radius: 5px;
	padding: 15px;
}

p {
	font-size: 13px;
}
